body {
  background-color: white;
}

h1 {
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 14px;
}

table {
  width: 100%;
}

tr {
  text-align: center;
}

p1 {
  font-family: verdana;
  font-size: 10px;
}
